// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-header {

  display: flex;
  justify-content: space-between;
  align-items: center;

  .card-body {

    ul {
      list-style: none;
    }

    .infobox {
      padding: 10px 0;

      h4 {
        display: inline-block;
      }
    }
  }
}
